<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		<div class="markdown">
		 {{ .Content }}
		</div>

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h1 class="page-title">items</h1>
		{{ end }}

		<ol class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a>
				<span class="description">
					&mdash;
					{{ if isset .Params "description" }}
					{{ .Description }}
					{{ else if gt (len .RawContent) 80 }}
					{{ slicestr .RawContent 0 80 }}...
					{{ else }}
					{{ .RawContent }}
					{{ end }}
				</span>
				<span class="meta">({{ dateFormat "2006-01-02 15:04 Z0700" .Date }})</span>
			</li>
			{{- end -}}
			{{- end -}}
		</ol>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
